@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@500&family=Oswald:wght@200..700&family=Roboto:wght@400;500;700&display=swap");

.showcase {
  background-image: url("/images/bg-image2.webp");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-color: #7f7e7e;
  text-align: center;
  position: relative;
  z-index: 3;
  height: 100vh;
}

.showcase h1,
.event-details-showcase h1 {
  font-size: 6rem;
  color: red;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 10rem;
}

.showcase h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #fff;
}

.showcase-btn {
  margin: 2rem;
  font-family: "Montserrat", sans-serif;
}

.features,
.upcoming-events {
  text-align: center;
  margin-top: 3rem;
}

.features .container {
  padding: 0 100px;
}

.features h1,
.upcoming-events h1 {
  font-family: "Oswald", sans-serif;
  color: red;
  margin-bottom: 1rem;
}

.feature {
  border-radius: 16px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 20px;
  text-align: left;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.feature h3 {
  font-family: "Oswald", sans-serif;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 160%;
}

.feature h6 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 1rem;
  color: darkslategray;
}

.feature .icons {
  text-align: left;
}

.events-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.event-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.event-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.event-content {
  padding: 20px;
}

.event-title {
  font-size: 1.5rem;
  margin: 0;
  color: #000;
}

.event-date,
.event-location,
.event-description {
  margin: 5px 0;
  color: #555;
  font-family: "Montserrat", sans-serif;
}

.event-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: red;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  font-size: small;
  margin-top: 0.5rem;
}

.event-button:hover {
  background-color: rgb(137, 0, 0);
}

.upcoming-events {
  background-image: url("/images/bg-img.webp");
  background-color: hsla(10, 90%, 51%, 0.8);
  background-blend-mode: screen;
  background-size: cover;
}

.upcoming-events h1 {
  margin-top: 2rem;
  color: #fff;
}

.expanding-cards {
  display: flex;
  width: 90vw;
  margin-bottom: 2rem;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  filter: grayscale(0.7);
}

.panel h3,
.panel h5,
.panel h6,
.panel a {
  position: absolute;
  bottom: 50px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel h3 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.panel h5 {
  border-radius: 10px;
  padding: 3px 10px;
  background-color: #000;
  font-size: 0.5rem;
  bottom: 90px;
  font-family: "Montserrat", sans-serif;
}

.panel h6 {
  bottom: 30px;
  font-family: "Montserrat", sans-serif;
}

.panel a {
  border-radius: 10px;
  padding: 3px 10px;
  background-color: red;
  font-size: 0.7rem;
  font-weight: 600;
  bottom: 10px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #fff;
}

.panel.active {
  flex: 5;
  filter: grayscale(0);
}

.panel.active h3,
.panel.active h5,
.panel.active h6,
.panel.active a {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.how-it-works {
  margin-top: 2rem;
}

.how-it-works h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin: 2rem 0;
}

.how-it-works .steps {
  width: 50%;
}

.how-it-works .step {
  margin: 1.5rem 0;
  text-align: justify;
  line-height: 1.5;
  display: flex;
}

.how-it-works .step h3 {
  margin-bottom: 0.5rem;
  color: red;
}

.how-it-works .step-details {
  margin-top: 1.5rem;
  margin-left: 2rem;
}

.newsletter {
  margin-top: 5rem;
  height: 50vh;
  background-image: url("/images/bg-image2.webp");
  background-color: hsla(288, 97%, 15%, 0.8);
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.newsletter h1 {
  margin-top: 5rem;
  font-family: "Bowlby One SC", sans-serif;
  font-size: 3rem;
  color: #fff;
}

.newsletter input {
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  width: 60%;
}

.newsletter input::placeholder {
  color: #000;
  font-family: "Montserrat", sans-serif;
  padding-inline: 10px;
}

.newsletter button {
  border: none;
  color: #fff;
  background-color: red;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  border-radius: 10px;
  margin-left: 1rem;
  font-weight: 900;
}

.newsletter button:hover {
  cursor: pointer;
  transform: scale(0.98);
}

.newsletter input:focus {
  border: none;
  outline: none;
  padding-inline: 10px;
}

.newsletter h5 {
  font-size: 0.8rem;
  font-weight: 900;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.events-hero,
.dashboard-hero {
  background-image: url("/images/bg-image8.webp");
  height: 80vh;
  background-blend-mode: multiply;
  background-color: #7f7e7e;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 3;
  color: #fff;
}

.events-hero h3,
.dashboard-hero h3 {
  margin-top: 13rem;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.events-hero h2,
.dashboard-hero h2 {
  font-family: "Bowlby One SC", sans-serif;
  font-size: 4rem;
}

.events-hero h5,
.dashboard-hero h5 {
  font-family: "Montserrat", sans-serif;
  width: 40%;
  line-height: 1.5;
}

.latest-events {
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
}

.latest-events h1 {
  font-size: 2rem;
}

.event-details-hero {
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  z-index: 3;
  height: 80vh;
  overflow: hidden;
}

.event-details-showcase h1 {
  font-size: 5rem;
}

.event-details-content {
  margin-top: 2rem;
  font-family: "Montserrat", sans-serif;
}

.event-details-content .container,
.organizer-dashboard-details .container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.event-details-content .first-content,
.organizer-dashboard-details .organizer-events {
  flex: 0 0 70%;
}

.event-details-content .second-content,
.organizer-dashboard-details .organizer-analytics {
  flex: 0 0 30%;
}

.event-details-content .date {
  font-weight: 800;
}

.event-details-content .first-content h1 {
  font-size: 3.5rem;
  margin-top: 1rem;
}

.event-details-content .first-content h6 {
  margin: 2rem 0;
}

.event-details-content .date-time div span:nth-of-type(2) {
  margin-right: 1rem;
}

.event-details-content .location,
.event-details-content .organizer {
  margin-top: 2rem;
}

.event-details-content .organizer h2 {
  background-color: red;
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  display: inline-block;
  color: #fff;
  border-radius: 50px;
}

.event-details .other-events {
  margin-top: 5rem;
  background-color: #f4f3f3;
  padding: 2rem 0;
  font-family: "Montserrat", sans-serif;
}

.event-details-content .second-content .price {
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
}

.event-details-content .second-content .price h1 {
  margin-top: 1rem;
  font-size: 5rem;
}

.event-details-content .second-content .price button,
.organizer-dashboard-details .organizer-analytics a {
  width: 100%;
  background-color: red;
  color: #fff;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.event-details-content .second-content .price button:hover,
.organizer-dashboard-details .organizer-analytics a:hover {
  transform: scale(0.98);
}

.dashboard-hero {
  background-image: url("/images/bg-image7.webp");
  height: 60vh;
  background-position: bottom;
}

.organizer-dashboard-details .organizer-events,
.organizer-dashboard-details .organizer-analytics {
  padding-top: 2rem;
}

.organizer-dashboard-details .organizer-analytics a {
  text-decoration: none;
  display: block;
  text-align: center;
}
