@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.nav {
  background-color: red;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2rem;
  font-weight: 900;
}

header a {
  text-decoration: none;
  color: #fff;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style-type: none;
  margin: 0 2rem;
  font-size: 15px;
  font-weight: 600;
}

.nav-item a {
  text-decoration: none;
}

.nav-item a:hover {
  font-size: 18px;
  color: red;
}

.navbar-search input {
  background-color: transparent;
  border: 1.5px solid #fff;
  border-radius: 20px;
  padding-inline: 10px;
  color: #fff;
  height: 30px;
}

::placeholder {
  font-size: smaller;
  color: #fff;
}

.showcase {
  background-image: url("../images/bg-image3.webp");
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  z-index: 3;
  height: 100vh;
}

.showcase h1 {
  font-size: 6rem;
  letter-spacing: -0.02em;
  color: red;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 12rem;
}

.showcase h2 {
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #fff;
}

.showcase-btn {
  margin: 2rem;
}

.features,
.upcoming-events {
  text-align: center;
  margin-top: 3rem;
}

.features .container,
.upcoming-events .container {
  padding: 0 100px;
}

.features h1,
.upcoming-events h1 {
  font-family: "Oswald", sans-serif;
  color: red;
  margin-bottom: 1rem;
}

.feature {
  border-radius: 16px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 20px;
  text-align: left;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.feature h3 {
  font-family: "Oswald", sans-serif;
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 160%;
}

.feature h6 {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 1rem;
  color: darkslategray;
}

.feature .icons {
  text-align: left;
}

.event-cards {
  margin: 2rem 0;
  text-align: left;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 6;
}

.event-card {
  border: 1px solid #000;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.event-card .event-card-image {
  width: 100%;
  object-fit: cover;
}

.event-card-details {
  padding: 10px;
  text-decoration: none;
}

.event-card h3 {
  color: #000;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  display: block;
}

.event-card h3 {
  color: #000;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
}

.event-card h5 {
  background-color: rebeccapurple;
  color: #fff;
  display: inline-block;
  border-radius: 10px;
  padding: 3px 10px;
  font-size: 0.7rem;
  margin: 0.5rem 0;
}

.event-card .event-date {
  display: block;
  color: #000;
  margin-right: 0.5rem;
  font-weight: 900;
  font-family: "Oswald" sans-serif;
}
